In [ ]:
2+3

In [42]:
l = [1,2,3]    
a, b, c = l

In [44]:
a,b =b,a
print(a,b)

1 2

In [38]:
l = [(0,23,34), (2,34,23), (1,34,23)]
l.sort()

In [39]:
print(sum(l[2]))

59

In [41]:
l.sort(reverse=True)
print(l)

[(2, 34, 23), (1, 34, 23), (0, 23, 34)]

In [37]:
(0, 1, 2) < (0, 3)

True

In [31]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(len(t))
print(t[l-2])

9
34

In [36]:
t2 = t[2:5]
print(sum(t2))
t3 = t[1:3] + t2[:]
print(t3)
print(sum(t3))

61
(3, 5, 5, 2, 54)
69

In [ ]:
x = 40

In [ ]:
x

In [ ]:
x = 2
x  = x + 2
print (x)

In [ ]:
x  = x + 2
print (x)

In [ ]:
if x < 10 :
    print('smaller')
if x > 20:
    print('Bigger')
print('End')

In [ ]:
n = 5
while n >  0:
    print (n)
    n = n - 1
print ('Blastoff')

In [ ]:
#this is comment
print ('Hello')

In [ ]:
2^3

In [ ]:
2**3

In [ ]:
14%3

In [ ]:
5/3

In [ ]:
5//3

In [ ]:
5%3

In [ ]:
x=1+2*3-4/5**6

In [ ]:
print (x)

In [ ]:
1+2**3/4*5

In [ ]:
type (x)

In [ ]:
name = input ('who are you?')

In [ ]:
print("Welcome : " + name)

In [ ]:
25*4

In [ ]:
print(5/2)

In [ ]:
(5000*10*4)/100

In [ ]:
4**2

In [ ]:
print(1 + 2 ** 3 // 4 * 5)

In [ ]:
8//4

In [ ]:
bank_balance = 200
print(bank_balance)

In [ ]:
my_int = 20

In [ ]:
my_float = 15.85

In [ ]:
my_string = 'Hello World'

In [ ]:
my_bool = True

In [ ]:
height = 60
width = 40
new_area_of_rectangle = height * width
print(new_area_of_rectangle)

In [ ]:
height = 1.7
weight = 72.25
bmi = weight // (height * height)
bmi = int(bmi)
print(bmi)

In [ ]:
gender = "male"

In [ ]:
is_obese = False

In [ ]:
height = 20
width = 80
area_of_rectangle = height * width

In [ ]:
print(area_of_rectangle)

In [ ]:
print("game"+str(1))

In [ ]:
total_interest = 9762.69

In [ ]:
type(total_interest)

In [ ]:
type(area_of_rectangle)

In [ ]:
bmi = 25

In [ ]:
bmi_str = str(bmi)
message = "BMI is " + bmi_str
print(message)

In [ ]:
first = 'Cloudx'
second = 'Lab'
final = first + second
print(final)

In [ ]:
animal = 'cat'
ten_animals = animal * 10

In [ ]:
ihours = input('Hours: ')
irate = input ('Rate: ')
hours = int(ihours)
rate = int (irate)
normal_pay=0
extra=0
pay = 0
if hours > 40:
    extra = (hours - 40) * rate * 1.5
    normal_pay = 40 * rate
    pay = extra + normal_pay
else:
    normal_pay = hours * rate
    pay = normal_pay
print(pay)

In [ ]:
try:
    ihours = input('Hours: ')
    irate = input ('Rate: ')
    hours = int(ihours)
    rate = int (irate)
    normal_pay=0
    extra=0
    pay = 0
    if hours > 40:
        extra = (hours - 40) * rate * 1.5
        normal_pay = 40 * rate
        pay = extra + normal_pay
    else:
        normal_pay = hours * rate
        pay = normal_pay
    print(pay)
except:
    print('Please enter valid values')

In [ ]:
#Reactangle cordinated
left_top_x = 0
left_top_y = 0
right_bottom_x = 10
right_bottom_y = 20
x = int(input("Enter x: "))
y = int(input('Entet y: '))
if x > left_top_x and x < right_bottom_x and y > left_top_y and y < right_bottom_y:
    print('Point is inside rectangle')
else:
    print('Point is outside rectangle')

In [ ]:
def pay(h,r):
    if(h>40):
        print((h-40)*r*1.5+40*r)
    else:
        print(h*r)

In [ ]:
pay(45,10)

In [ ]:
def pay_calculator (hours,rate):
    if(hours>40):
        total_pay = ((hours-40)*rate*1.5+40*rate)
        
    else:
        total_pay = (hours*rate)
    return(total_pay)

In [ ]:
pay_calculator(45,10)

In [ ]:
print(max('Hello world'))

In [ ]:
area_of_circle = 78.5
area_of_circle = str(area_of_circle)
area_of_circle_msg = "Area of the circle is - " + area_of_circle
print(area_of_circle_msg)

In [ ]:
len('cloudxlab')

In [ ]:
max('cloudxlab')

In [ ]:
min('cloudxlab')

In [ ]:
square_area = 8.9*8.9
square_area_type = type(square_area)
square_area_int = int(square_area)
square_area_str = str(square_area_int)
print (square_area)
print (square_area_type)
print (square_area_int)
print (square_area_str)

In [ ]:
import math
print (math)

In [ ]:
math.log10(1000)

In [ ]:
math.cos(0)

In [ ]:
import math
square_root = math.sqrt(56.98)
print(square_root)
#sin_rad = 26/360*2*math.pi
sin_rad = math.radians(26)
print(sin_rad)
#print(math.radians(26))
sin_degree = math.sin(math.radians(26))
print (sin_degree)
log_e = math.log(1000)
print(log_e)

In [ ]:
for a in range(10):
    import random
    number = random.random()
    print(number)

In [ ]:
import random
random_number = random.random()
random_int = int(random_number)
print(random_number)
print(random_int)

In [ ]:
def print_name():
    name = "Cloudxlab"        
    print("My name is", name)

In [ ]:
print(type(print_name))

In [ ]:
def get_name():
    print("Cloudxlab")
get_name()

In [ ]:
def print_name(value):
    x = value
    print(value)
print_name(str(math.cos(0)))

In [ ]:
def multiply(message, *args):
    output = 1
    for arg in args:
        output *= arg
    return message + " " + str(output)

multiply_value = multiply("My Sum:", 1, 2, 4, 6)
print(multiply_value)

In [ ]:
def multiply(premessage, *args, message):
    output = 1
    for arg in args:
        output *= arg
    return premessage + " " + str(output) + " " + message

multiply_value = multiply("Starting calculation:", 2, 4, 6, message="My Sum:")
print(multiply_value)

In [ ]:
def groupdata(message, **kwargs):
    grouped_data = {}
    for key, value in kwargs.items():
        grouped_data[key.split("_")[0]] = grouped_data.get(key.split("_")[0], 0) + value
    return message + " " + str(grouped_data)

summary = groupdata(
    "My fruits:",
    apple_indian = 3,
    orange_indian = 5,
    apple_mexican = 6,
    orange_mexica = 7,
    banana=11
)
print(summary)

In [ ]:
def my_function(number):
    xyz = number
    xyz_str = str(xyz)
    xyz_str = xyz_str + 'cloudxlab'
    print(xyz_str)
my_function(10)

In [ ]:
def new_function (num):
    import math
    return math.pi * num
def void_function(num1,num2):
    a=new_function(num1**num2)
    print(a)

In [ ]:
void_function(4.6,7.3)

In [ ]:
def input_name():
    inp_user = input('What am I studing? ')
    return (inp_user)

In [ ]:
subject = input_name()
print (subject)

In [ ]:
def is_on_line(x1,x2,x):
    if x>=x1 and x<=x2:
        return True
    elif x<=x1 and x>=x2:
        return True
    else:
        return False

In [ ]:
is_on_line(10,20,30)

In [ ]:
is_on_line(10,20,20)

In [ ]:
is_on_line(10,20,-10)

In [ ]:
is_on_line(-4,-5,-4.5)

In [ ]:
def conditional_statements (num1, num2, num3, num4):
    if num1<num2 and num1>num3  and num1 == num4:
        if num3<num1 and num3<num2 and num3<num4:
            if type(num2) == float:
                if type(num1) == int and type(num3) == int and type(num4)==int:
                    return num1+num2+num3+num4
                else: return None
            else: return None
        else: return None
    else: return None

In [ ]:
conditional_statements(4,5.1,2,4)

In [ ]:
def except_func(num):
    try:
        x  = num * num
        return x
    except:
        return 'invalid number'

In [ ]:
except_func("sample")

In [ ]:
x =[19,2.5,13,11,7,11,9,10]

In [ ]:
#stock =[19,2.5,13,11,7,11,9,10]
stock=[10,8,5,4,1,2,3,4,5,6,7,8,9,10,18,7,7.5,9,10,12,15,16]
profit = 0
buy = 0
sell = 0
for buy in stock:
    for sell in stock:
        if sell-buy > profit and stock.index(buy) < stock.index(sell):
            profit = sell - buy
            buy_price = buy
            sell_price = sell
print ('profit =', profit, 'Buy Price = ', buy_price, 'Sell Price = ', sell_price)

In [ ]:
def print_even(n):
    for i in range(n):
        if i%2 == 0:
            print (i)

In [ ]:
print_even(5)

In [1]:
def compound_interest(principle, rate, years):
    comp_interest = 0.0
    for i in range(years):
        interest = principle*rate*1/100
        principle = principle + interest
        comp_interest = comp_interest + interest
    return comp_interest

In [2]:
compound_interest(100,5,2)

10.25

In [3]:
def sum_func(n):
    a = 0
    s = 0
    if type(n) == int and n >= 0:
        while a < n:
            a = a + 1
            s += a
        print (s)
    else:
        print ('-1')

In [4]:
sum_func(10)

55

In [1]:
def sum_func(n):
    a = 0
    s = 0
    if type(n) == int and n >= 0:
        while a < n:
            a = a + 1
            s += a
        return (s)
    else:
        return (-1)

In [2]:
sum_func(-1)

-1

In [5]:
total = 0
while True:
    n = input("Enter 1 to enter a number,  Enter 2 to stop the process\n")
    if n is "1":
        number = input("Enter the number\n")
        try:
            total = total + int(number)
        except:
            print("Please enter a valid number\n")
            continue
    elif n is "2": 
        break
    else:
        print("Please enter a valid choice\n")
        continue

Enter 1 to enter a number,  Enter 2 to stop the process
2

In [15]:
def special_func(num):
    total = 0
    if type(num) == int and num>0:
        i = 1
        while i < num:
            if num % i == 0 and i % 2 != 0:
                total += i
            i = i + 1
        return (total)
    else:
        return (-10)

In [19]:
special_func(24)

4

In [41]:
def str_func(arg):
    a = len(arg)
    return(str(arg[a-1]))

In [42]:
str_func("cloudxlab") =='b'

True

In [20]:
def sum_str_func(arg):
    result = 0
    if type(arg) == int:
        arg = str(arg)
    l = len(arg)
    #print (l)
    for i in range(l):
        result += int(arg[i])
    return (result)

In [21]:
sum_str_func('1234')

10

In [55]:
def slicing_func(arg):
    arg = str(arg)
    l = len(arg)
    print(arg[2:l])

In [56]:
slicing_func("Hello World")

llo World

In [62]:
a = "cloudxlab"
a[1] = 'm'

TypeError: 'str' object does not support item assignment

In [67]:
a = "Cloudxlab is a large ed-tech platform for ml and big data"
count = 0
for letter in a:
     if letter == 'l':
        count = count + 1
print (count)

5

In [68]:
result = 'cloud' in 'cloudxlab'
print (result)

True

In [69]:
string = "machine"
print (string == " machine")

False

In [70]:
dir(string)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [71]:
help(string.upper)

Help on built-in function upper:

upper(...) method of builtins.str instance
    S.upper() -> str

    Return a copy of S converted to uppercase.

In [72]:
a = "cloudxlab"
print(a.upper())
print(a)

CLOUDXLAB
cloudxlab

In [27]:
def email_func(str1):
    if type(str1) is str:
        a = str1.split(' ')
        print (a)
        for word in a:
            if word.find('@') >= 0:
                b = word
                return(b)
                break
            else:
                continue
        return False
    return False

In [28]:
email_func(" we look for first @ @cloudxlab.com @cloudxlab")

['', 'we', 'look', 'for', 'first', '@', '@cloudxlab.com', '@cloudxlab']

'@'

In [4]:
a = 73
b = "%d" % a
print (b)

73

In [3]:
def abc (string):
    s = string.find('@')
    if s==-1:
        return False
    else:
        email = string.split('@')
        print (email)
        b1 = email[0].split(' ')
        print (b1)
        b2 = email[1].split(' ')
        print (b2)
        i=len(b1)
        e = b1[i-1] + "@" + b2[0]
        return e

In [2]:
abc("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

['this is first abhinav', 'cloudxlab.com and this is second sandeep', 'cloudxlab.com']
['this', 'is', 'first', 'abhinav']
['cloudxlab.com', 'and', 'this', 'is', 'second', 'sandeep']

'abhinav@cloudxlab.com'

In [56]:
email_func("a a@")

'a@'

In [5]:
print('%d+3' % 3)

3+3

In [6]:
print("%f %f %s")

%f %f %s

In [13]:
print("%f %s %s" % (12.3, 12, 'cloudxlab'))

12.300000 12 cloudxlab

In [10]:
print("%d is an integer, %g is floating-point and %s is string" % (23, 23.34, "Twenty-Three"))

23 is an integer, 23.34 is floating-point and Twenty-Three is string

In [4]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [5]:
print(3 in a)

False

In [6]:
print(a)

[12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]

In [7]:
print('cloudx lab' in a)

False

In [8]:
a = [1,2,3,4,5,6,7,8,9]
s = (a[2:5])

In [9]:
print (s)

[3, 4, 5]

In [15]:
a = [1,2,7,4,9,6,7,8,9]

In [13]:
s = 0
for num in range(len(a)):
    s += num
print (s)

36

In [16]:
print(sum(a))

53

In [17]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a[len(a)-2])

56

In [18]:
a

[23, 12, 32, 1, 2, 34, 56, 12]

In [19]:
a.extend(a)

In [20]:
a

[23, 12, 32, 1, 2, 34, 56, 12, 23, 12, 32, 1, 2, 34, 56, 12]

In [21]:
sum(a)

344

In [22]:
a.sort()
print(a[2] + a[7])

14

In [23]:
a

[1, 1, 2, 2, 12, 12, 12, 12, 23, 23, 32, 32, 34, 34, 56, 56]

In [24]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
list1.pop(3)

[2, 4, 5]

In [25]:
list1

[12, 23, 43, 2, 4, 5]

In [26]:
sum(list1)

89

In [27]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[1]
print(list2)

['cloudx', 'provides', 'cloud', 'lab']

In [28]:
list2.remove('lab')

In [36]:
dir(list2)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [38]:
list2.reverse()

In [39]:
list2

['cloud', 'provides', 'cloudx']

In [40]:
list(list2)

['cloud', 'provides', 'cloudx']

In [52]:
for n in list2:
    item = n.split()
    rev = item
    print (rev)

['cloud']
['provides']
['cloudx']

In [41]:
def str_list_func(st):
    a  = st.split()
    #print (a)
    newstr = list()
    for word in a:
        x = list(word)
        f = x[0]
        x[0] = x[len(x)-1]
        x[len(x)-1] = f
        newstr.append(''.join(x))
    return ' '.join(newstr)

In [42]:
str_list_func("I am learning Python at CloudxLab")

'I ma gearninl nythoP ta bloudxLaC'

In [43]:
str_list_func("I am the gold")

'I ma eht dolg'

In [51]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s = s + line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [60]:
def file_read_func (path):
    try:
        with open(path) as f:
            s = 0
            for line in f:
                word = line.split()
                for words in word:
                    s += len(words)
        return (s)
    except:
        return -1

In [61]:
file_read_func ("/cxldata/python_sample_file")

65

In [65]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1

In [66]:
print (check)

0

In [67]:
with open("python_file_writing.txt", 'a') as f:
    f.write("I am learning Python at CloudxLab")

In [68]:
pwd

'/home/tukulkumar1011/cloudxlab_jupyter_notebooks'

In [1]:
d = dict()
d['1 rupee coins'] = 10
d['2 rupees coins'] = 5
d['5 rupees coins'] = 6
d['10 rupees coins'] = 12
print(d)

{'1 rupee coins': 10, '2 rupees coins': 5, '5 rupees coins': 6, '10 rupees coins': 12}

In [2]:
print(d['5 rupees coins']+d['10 rupees coins'])

18

In [3]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }
print(len(d))

4

In [4]:
print(4 in d)

False

In [5]:
print(5 in d and 2 in d)

False

In [6]:
print('three' in d)

True

In [15]:
def dict_func(a):
    d = dict()
    words = a.split()
    for word in words:
        if word not in d:
            d[word] = 1
        else:
            d[word] = d[word] + 1
    return d

In [16]:
dict_func('the quick brown fox jumps over the lazy dog')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [20]:
t = (1,)
type(t)

tuple

In [21]:
t = (1)
type(t)

int

In [22]:
t = tuple()
print(t)

()

In [23]:
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))

In [28]:
print(len(t1))
print(len(t2))
print(len(t3))

9
5
5

In [45]:
d = { "one" : 1, "two" : 2, "three" : 3}
k = d.items()
print(k)

dict_items([('one', 1), ('two', 2), ('three', 3)])

In [46]:
l = list(k)
print(l)

[('one', 1), ('two', 2), ('three', 3)]

In [47]:
for key, value in list(k):
    print(key, value)

one 1
two 2
three 3

In [64]:
def dict_tuple_func (s):
    l = dict()
    sm = 0
    for i in s:
        if i not in l:
            l[i] = 1
            sm = sm + i
        else:
            l[i] = l[i] + 1
    tp = tuple()
    tp = (l, sm)
    return (tp)

In [65]:
dict_tuple_func([1, 2, 3, 1, 2, 3])

({1: 2, 2: 2, 3: 2}, 6)

In [66]:
dict_tuple_func([1,2,3,4,5,3,23,5,6,4])

({1: 1, 2: 1, 3: 2, 4: 2, 5: 2, 23: 1, 6: 1}, 44)

import re
hand = open('mbox-short.txt')
for  line in hand:
    line = line.rstrip()
    if re.search('^From: ', line):
        print (line)

In [4]:
from urllib import *
fhand = request.urlopen('http://www.py4inf.com/code/romeo.txt')

counts = dict()
for line in fhand:
    words = line.split()
    for word in words:
        counts[word] = counts.get(word,0) + 1
print (counts)

{b'But': 1, b'soft': 1, b'what': 1, b'light': 1, b'through': 1, b'yonder': 1, b'window': 1, b'breaks': 1, b'It': 1, b'is': 3, b'the': 3, b'east': 1, b'and': 3, b'Juliet': 1, b'sun': 2, b'Arise': 1, b'fair': 1, b'kill': 1, b'envious': 1, b'moon': 1, b'Who': 1, b'already': 1, b'sick': 1, b'pale': 1, b'with': 1, b'grief': 1}

In [5]:
from  urllib import *
from bs4 import BeautifulSoup

url = input('Enter - ')

html = request.urlopen(url).read()
soup = BeautifulSoup(html)

tags = soup('a')

for tag in tags:
    print(tag.get('href', None))

Enter - http://www.py4inf.com/code/romeo.txt

In [6]:
from  urllib import *
from bs4 import BeautifulSoup

url = input('Enter - ')

html = request.urlopen(url).read()
soup = BeautifulSoup(html)

tags = soup('a')

for tag in tags:
    print(tag.get('href', None))

Enter - https://en.wikipedia.org/wiki/Nidhhi_Agerwal
None
#mw-head
#searchInput
/wiki/File:Nidhhi_Agerwal_graces_the_Filmfare_Glamour_and_Style_Awards_2017_(26)_(cropped).jpg
/wiki/Hyderabad
/wiki/Andhra_Pradesh
/wiki/Telangana
/wiki/India
/wiki/Christ_University
/wiki/Telugu_language
/wiki/Tamil_language
/wiki/Munna_Michael
#cite_note-deccanchronicle-1
#cite_note-2
#cite_note-budding_star-3
/wiki/Telugu_language
/wiki/Savyasachi_(2018_film)
/wiki/Tamil_language
/wiki/Eeswaran
#Early_life
#Career
#Filmography
#Films
#Awards_and_nominations
#See_also
#References
#External_links
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=1
/wiki/Hyderabad
/wiki/Bangalore
/wiki/Hindi
/wiki/Marwari_people
/wiki/Telugu_language
/wiki/Tamil_language
/wiki/Kannada
#cite_note-4
#cite_note-5
#cite_note-deccanchronicle-1
#cite_note-6
#cite_note-7
/wiki/Christ_University
#cite_note-8
#cite_note-9
/wiki/Ballet
/wiki/Kathak
/wiki/Belly_dance
#cite_note-10
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=2
/wiki/Sabbir_Khan
/wiki/Munna_Michael
/wiki/Tiger_Shroff
#cite_note-11
#cite_note-12
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=3
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=4
/wiki/Munna_Michael
/wiki/Hindi_language
#cite_note-13
/wiki/Savyasachi_(2018_film)
/wiki/Telugu_language
#cite_note-14
/wiki/Mr._Majnu
#cite_note-15
/wiki/ISmart_Shankar
#cite_note-16
/wiki/Eeswaran
/wiki/Tamil_language
#cite_note-17
/wiki/Bhoomi_(2021_film)
#cite_note-18
/wiki/Hero_(2022_film)
#cite_note-19
/wiki/Magizh_Thirumeni
#cite_note-20
/wiki/Hari_Hara_Veera_Mallu
#cite_note-21
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=5
/wiki/Zee_Cine_Awards
/wiki/Zee_Cine_Award_for_Best_Female_Debut
/wiki/Munna_Michael
#cite_note-22
/wiki/SIIMA_Awards
/wiki/SIIMA_Award_for_Best_Female_Debut_(Telugu)
/wiki/Savyasachi_(2018_film)
#cite_note-23
/wiki/Asian_Academy_of_Film_%26_Television
#cite_note-budding_star-3
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=6
/wiki/List_of_Bollywood_actresses
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=7
#cite_ref-deccanchronicle_1-0
#cite_ref-deccanchronicle_1-1
http://www.deccanchronicle.com/entertainment/bollywood/150816/tiger-shroffs-heroine-for-munna-michael-has-been-confirmed.html
/wiki/Deccan_Chronicle
https://web.archive.org/web/20170801180739/http://www.deccanchronicle.com/entertainment/bollywood/150816/tiger-shroffs-heroine-for-munna-michael-has-been-confirmed.html
#cite_ref-2
http://www.firstpost.com/entertainment/munna-michael-starring-tiger-shroff-nawazuddin-siddiqui-to-release-on-21-july-3396758.html
/wiki/Firstpost
https://web.archive.org/web/20170503230713/http://www.firstpost.com/entertainment/munna-michael-starring-tiger-shroff-nawazuddin-siddiqui-to-release-on-21-july-3396758.html
#cite_ref-budding_star_3-0
#cite_ref-budding_star_3-1
https://timesofindia.indiatimes.com/entertainment/hindi/bollywood/photo-feature/nidhhi-agerwal-steamy-pictures-of-the-budding-star/beauty-in-blue/photostory/61560747.cms
https://web.archive.org/web/20180927115909/https://timesofindia.indiatimes.com/entertainment/hindi/bollywood/photo-feature/nidhhi-agerwal-steamy-pictures-of-the-budding-star/beauty-in-blue/photostory/61560747.cms
#cite_ref-4
https://web.archive.org/web/20190518121503/https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/nidhhi-agerwal-i-am-a-tollywood-buff-who-grew-up-watching-telugu-films-dubbed-in-hindi/articleshow/61660243.cms
https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/nidhhi-agerwal-i-am-a-tollywood-buff-who-grew-up-watching-telugu-films-dubbed-in-hindi/articleshow/61660243.cms
#cite_ref-5
https://timesofindia.indiatimes.com/entertainment/tamil/movies/news/nidhhi-agerwal-spends-time-in-an-old-age-home-on-her-birthday/articleshow/85424453.cms
#cite_ref-6
https://www.bollywoodhungama.com/news/features/stunning-affair-mesh-sheer-nidhhi-agerwal-reveals-gq-best-dressed-2018-party/
#cite_ref-7
https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/video-alert-nidhhi-agerwal-welcomes-2020-by-gifting-herself-a-swanky-car/articleshow/73124973.cms
#cite_ref-8
http://beautypageants.indiatimes.com/miss-diva/miss-diva-contestants/2014/Nidhhi-Agerwal/profile/42481675.cms
/wiki/Times_Internet
https://web.archive.org/web/20170606132701/http://beautypageants.indiatimes.com/miss-diva/miss-diva-contestants/2014/Nidhhi-Agerwal/profile/42481675.cms
#cite_ref-9
http://beautypageants.indiatimes.com/Tiger-Shroff-to-romance-Nidhhi-Agerwal-in-Munna-Michael/eventshow/53797004.cms
/wiki/Times_Internet
https://web.archive.org/web/20170902030831/http://beautypageants.indiatimes.com/Tiger-Shroff-to-romance-Nidhhi-Agerwal-in-Munna-Michael/eventshow/53797004.cms
#cite_ref-10
http://beautypageants.indiatimes.com/I-always-wanted-to-be-an-actor-Nidhhi-Agerwal/I-always-wanted-to-be-an-actor-Nidhhi-Agerwal/eventshow/54998665.cms
/wiki/Times_Internet
https://web.archive.org/web/20170902032343/http://beautypageants.indiatimes.com/I-always-wanted-to-be-an-actor-Nidhhi-Agerwal/I-always-wanted-to-be-an-actor-Nidhhi-Agerwal/eventshow/54998665.cms
#cite_ref-11
http://movies.ndtv.com/bollywood/tiger-shroffs-munna-michael-co-star-niddhi-agerwal-made-to-sign-no-dating-clause-1470855
/wiki/NDTV
https://web.archive.org/web/20170521054334/http://movies.ndtv.com/bollywood/tiger-shroffs-munna-michael-co-star-niddhi-agerwal-made-to-sign-no-dating-clause-1470855
#cite_ref-12
http://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news/Actress-Nidhhi-Agerwal-okay-with-no-dating-clause/articleshow/54733603.cms
/wiki/Times_Internet
https://web.archive.org/web/20170131234842/http://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news/Actress-Nidhhi-Agerwal-okay-with-no-dating-clause/articleshow/54733603.cms
#cite_ref-13
https://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news/nidhhi-agerwal-passed-four-rounds-of-audition-to-bag-munna-michael/articleshow/59595061.cms
https://web.archive.org/web/20170722043509/http://timesofindia.indiatimes.com/entertainment/hindi/bollywood/news/nidhhi-agerwal-passed-four-rounds-of-audition-to-bag-munna-michael/articleshow/59595061.cms
#cite_ref-14
https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/nidhhi-agerwals-role-in-savyasachi-is-far-from-glamorous/articleshow/61782972.cms
https://web.archive.org/web/20171213193858/https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/nidhhi-agerwals-role-in-savyasachi-is-far-from-glamorous/articleshow/61782972.cms
#cite_ref-15
https://indianexpress.com/article/entertainment/movie-review/mr-majnu-movie-review-rating-akhil-akkineni-5555076/
#cite_ref-16
https://timesofindia.indiatimes.com/entertainment/telugu/movies/nidhhi-agerwal-to-play-a-scientist-in-puri-jagannadhs-next/articleshow/68256615.cms
#cite_ref-17
https://timesofindia.indiatimes.com/entertainment/tamil/movies/news/strs-next-with-susienthiran-titled-eeswaran-first-look-out/articleshow/78868428.cms
#cite_ref-18
https://www.thenewsminute.com/article/jayam-ravi-s-bhoomi-premiere-pongal-2021-137566%3famp
#cite_ref-19
https://m.timesofindia.com/entertainment/telugu/movies/news/nidhhi-agerwals-birthday-poster-from-her-next-film-with-ashok-galla-released/amp_articleshow/77586006.cms
#cite_ref-20
https://m.timesofindia.com/entertainment/tamil/movies/news/udhayanidhi-stalin-begins-shooting-for-his-film-with-magizh-thirumeni/amp_articleshow/79603300.cms
#cite_ref-21
https://timesofindia.indiatimes.com/entertainment/telugu/movies/news/hari-hara-veera-mallu-pawan-kalyan-looks-flamboyant-as-a-heroic-outlaw/articleshow/81450766.cms
/wiki/Template:Cite_news
/wiki/Category:CS1_maint:_url-status
#cite_ref-22
https://www.firstpost.com/entertainment/zee-cine-awards-2018-sridevi-varun-dhawan-win-top-acting-honours-golmaal-again-gets-best-film-4267373.html
#cite_ref-23
https://www.dnaindia.com/television/photo-gallery-siima-2019-nominations-list-out-who-among-kiara-advani-srinidhi-shetty-and-nidhhi-agerwal-will-claim-best-debut-award-2777395
https://web.archive.org/web/20191117103839/https://www.dnaindia.com/television/photo-gallery-siima-2019-nominations-list-out-who-among-kiara-advani-srinidhi-shetty-and-nidhhi-agerwal-will-claim-best-debut-award-2777395
/w/index.php?title=Nidhhi_Agerwal&action=edit&section=8
https://commons.wikimedia.org/wiki/Category:Nidhhi_Agerwal
https://www.imdb.com/name/nm8490426/
/wiki/IMDb
https://www.wikidata.org/wiki/Q29950534#P345
https://twitter.com/AgerwalNidhhi
/wiki/Twitter
https://www.wikidata.org/wiki/Q29950534#P2002
/wiki/Template:Zee_Cine_Award_for_Best_Female_Debut
/wiki/Template_talk:Zee_Cine_Award_for_Best_Female_Debut
https://en.wikipedia.org/w/index.php?title=Template:Zee_Cine_Award_for_Best_Female_Debut&action=edit
/wiki/Zee_Cine_Award_for_Best_Female_Debut
/wiki/Mahima_Chaudhry
/wiki/Preity_Zinta
/wiki/Rinke_Khanna
/wiki/Amisha_Patel
/wiki/Gracy_Singh
/wiki/Malini_Sharma
/wiki/Bhoomika_Chawla
/wiki/Gayatri_Joshi
/wiki/Vidya_Balan
/wiki/Konkona_Sen_Sharma
/wiki/Kangana_Ranaut
/wiki/Deepika_Padukone
/wiki/Sonakshi_Sinha
/wiki/Parineeti_Chopra
/wiki/Ileana_D%27Cruz
/wiki/Yami_Gautam
/wiki/Vaani_Kapoor
/wiki/Harshaali_Malhotra
/wiki/Bhumi_Pednekar
/wiki/Ritika_Singh
None
/wiki/Janhvi_Kapoor
/wiki/Tara_Sutaria
/wiki/Ananya_Panday
/wiki/Help:Authority_control
https://www.wikidata.org/wiki/Q29950534#identifiers
https://zbmath.org/authors/?q=ai:agarwal.nidhi
https://en.wikipedia.org/w/index.php?title=Nidhhi_Agerwal&oldid=1080153373
/wiki/Help:Category
/wiki/Category:Actresses_in_Hindi_cinema
/wiki/Category:Living_people
/wiki/Category:Actresses_from_Bangalore
/wiki/Category:21st-century_Indian_actresses
/wiki/Category:Indian_film_actresses
/wiki/Category:Female_models_from_Bangalore
/wiki/Category:Female_models_from_Hyderabad,_India
/wiki/Category:Actresses_in_Telugu_cinema
/wiki/Category:Marwari_people
/wiki/Category:Zee_Cine_Awards_winners
/wiki/Category:Christ_University_alumni
/wiki/Category:Actresses_from_Hyderabad,_India
/wiki/Category:CS1_maint:_url-status
/wiki/Category:Articles_with_short_description
/wiki/Category:Short_description_is_different_from_Wikidata
/wiki/Category:Use_dmy_dates_from_February_2022
/wiki/Category:Use_Indian_English_from_August_2018
/wiki/Category:All_Wikipedia_articles_written_in_Indian_English
/wiki/Category:Articles_with_hCards
/wiki/Category:Commons_category_link_from_Wikidata
/wiki/Category:Articles_with_ZBMATH_identifiers
/wiki/Category:Year_of_birth_missing_(living_people)
/wiki/Special:MyTalk
/wiki/Special:MyContributions
/w/index.php?title=Special:CreateAccount&returnto=Nidhhi+Agerwal
/w/index.php?title=Special:UserLogin&returnto=Nidhhi+Agerwal
/wiki/Nidhhi_Agerwal
/wiki/Talk:Nidhhi_Agerwal
/wiki/Nidhhi_Agerwal
/w/index.php?title=Nidhhi_Agerwal&action=edit
/w/index.php?title=Nidhhi_Agerwal&action=history
/wiki/Main_Page
/wiki/Main_Page
/wiki/Wikipedia:Contents
/wiki/Portal:Current_events
/wiki/Special:Random
/wiki/Wikipedia:About
//en.wikipedia.org/wiki/Wikipedia:Contact_us
https://donate.wikimedia.org/wiki/Special:FundraiserRedirector?utm_source=donate&utm_medium=sidebar&utm_campaign=C13_en.wikipedia.org&uselang=en
/wiki/Help:Contents
/wiki/Help:Introduction
/wiki/Wikipedia:Community_portal
/wiki/Special:RecentChanges
/wiki/Wikipedia:File_Upload_Wizard
/wiki/Special:WhatLinksHere/Nidhhi_Agerwal
/wiki/Special:RecentChangesLinked/Nidhhi_Agerwal
/wiki/Wikipedia:File_Upload_Wizard
/wiki/Special:SpecialPages
/w/index.php?title=Nidhhi_Agerwal&oldid=1080153373
/w/index.php?title=Nidhhi_Agerwal&action=info
/w/index.php?title=Special:CiteThisPage&page=Nidhhi_Agerwal&id=1080153373&wpFormIdentifier=titleform
https://www.wikidata.org/wiki/Special:EntityPage/Q29950534
/w/index.php?title=Special:DownloadAsPdf&page=Nidhhi_Agerwal&action=show-download-screen
/w/index.php?title=Nidhhi_Agerwal&printable=yes
https://commons.wikimedia.org/wiki/Category:Nidhhi_Agerwal
https://ar.wikipedia.org/wiki/%D9%86%D9%8A%D8%AF%D9%87%D9%8A_%D8%A3%D8%AC%D8%B1%D9%88%D8%A7%D9%84
https://bn.wikipedia.org/wiki/%E0%A6%A8%E0%A6%BF%E0%A6%A7%E0%A6%BF_%E0%A6%86%E0%A6%97%E0%A6%BE%E0%A6%B0%E0%A6%93%E0%A6%AF%E0%A6%BC%E0%A6%BE%E0%A6%B2
https://fa.wikipedia.org/wiki/%D9%86%DB%8C%D8%AF%DB%8C_%D8%A2%DA%AF%D8%B1%D9%88%D8%A7%D9%84
https://ko.wikipedia.org/wiki/%EB%8B%88%EB%94%94_%EC%95%84%EA%B2%8C%EB%A5%B4%EC%99%88
https://hi.wikipedia.org/wiki/%E0%A4%A8%E0%A4%BF%E0%A4%A7%E0%A4%BF_%E0%A4%85%E0%A4%97%E0%A5%8D%E0%A4%B0%E0%A4%B5%E0%A4%BE%E0%A4%B2
https://id.wikipedia.org/wiki/Nidhhi_Agerwal
https://mai.wikipedia.org/wiki/%E0%A4%A8%E0%A4%BF%E0%A4%A7%E0%A4%BF_%E0%A4%85%E0%A4%97%E0%A5%8D%E0%A4%B0%E0%A4%B5%E0%A4%BE%E0%A4%B2
https://ml.wikipedia.org/wiki/%E0%B4%A8%E0%B4%BF%E0%B4%A7%E0%B4%BF_%E0%B4%85%E0%B4%97%E0%B5%BC%E0%B4%B5%E0%B4%BE%E0%B5%BE
https://arz.wikipedia.org/wiki/%D9%86%D9%8A%D8%AF%D9%87%D9%89_%D8%A7%D8%AC%D8%B1%D9%88%D8%A7%D9%84
https://ne.wikipedia.org/wiki/%E0%A4%A8%E0%A4%BF%E0%A4%A7%E0%A4%BF_%E0%A4%85%E0%A4%97%E0%A5%8D%E0%A4%B0%E0%A4%B5%E0%A4%BE%E0%A4%B2
https://or.wikipedia.org/wiki/%E0%AC%A8%E0%AC%BF%E0%AC%A7%E0%AC%BF_%E0%AC%85%E0%AC%97%E0%AD%8D%E0%AC%B0%E0%AD%B1%E0%AC%BE%E0%AC%B2
https://pnb.wikipedia.org/wiki/%D9%86%D8%AF%DA%BE%DB%8C_%D8%A7%DA%AF%D8%B1%D9%88%D8%A7%D9%84
https://si.wikipedia.org/wiki/%E0%B6%B1%E0%B7%92%E0%B6%B0%E0%B7%92_%E0%B6%85%E0%B6%9C%E0%B7%8A%E2%80%8D%E0%B6%BB%E0%B7%8F%E0%B7%80%E0%B7%8F%E0%B6%BD%E0%B7%8A
https://simple.wikipedia.org/wiki/Nidhhi_Agerwal
https://ta.wikipedia.org/wiki/%E0%AE%A8%E0%AE%BF%E0%AE%A4%E0%AE%BF_%E0%AE%85%E0%AE%95%E0%AE%B0%E0%AF%8D%E0%AE%B5%E0%AE%BE%E0%AE%B2%E0%AF%8D
https://te.wikipedia.org/wiki/%E0%B0%A8%E0%B0%BF%E0%B0%A7%E0%B0%BF_%E0%B0%85%E0%B0%97%E0%B0%B0%E0%B1%8D%E0%B0%B5%E0%B0%BE%E0%B0%B2%E0%B1%8D
https://ur.wikipedia.org/wiki/%D9%86%D8%AF%DA%BE%DB%8C_%D8%A7%DA%AF%D8%B1%D9%88%D8%A7%D9%84
https://zh.wikipedia.org/wiki/%E5%A6%AE%E8%BF%AA%C2%B7%E9%98%BF%E5%8A%A0%E7%93%A6%E7%88%BE
https://www.wikidata.org/wiki/Special:EntityPage/Q29950534#sitelinks-wikipedia
//en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License
//creativecommons.org/licenses/by-sa/3.0/
//foundation.wikimedia.org/wiki/Terms_of_Use
//foundation.wikimedia.org/wiki/Privacy_policy
//www.wikimediafoundation.org/
https://foundation.wikimedia.org/wiki/Privacy_policy
/wiki/Wikipedia:About
/wiki/Wikipedia:General_disclaimer
//en.wikipedia.org/wiki/Wikipedia:Contact_us
//en.m.wikipedia.org/w/index.php?title=Nidhhi_Agerwal&mobileaction=toggle_view_mobile
https://www.mediawiki.org/wiki/Special:MyLanguage/How_to_contribute
https://stats.wikimedia.org/#/en.wikipedia.org
https://foundation.wikimedia.org/wiki/Cookie_statement
https://wikimediafoundation.org/
https://www.mediawiki.org/

In [1]:
sys.path

NameError: name 'sys' is not defined

In [2]:
class Vehicle:
    #dunder
    def __init__(self, color, make, model="Good"):
        self.color = color
        self.make = make
        self.model = model
        self.speed = 0
        #self.drag = 0

    def __repr__(self):
        return "My vehicle is:" + self.color + ":" + self.make + ":" + str(self.speed)

    def run(self, speed):
        self.speed = speed

veh1 = Vehicle("Red", "Toyota", "Corrola")
print(veh1)
print(veh1.color)
print(veh1.make)
print(veh1.model)
veh1.run(100)
print(veh1)

myvehs = [
    Vehicle("Red", "Toyota1", "Corrola1"),
    Vehicle("Reds", "Toyota2", "Corrola2"),
    Vehicle("Redd", "Toyota3", "Corrola3"),
    Vehicle("Redd", "Toyota4", "Corrola4")
]

for veh in myvehs:
    print(veh)

class Car(Vehicle):
    drag = 0
    def do_drag(self, drag):
        self.drag = drag

    def __repr__(self):
        return "My car is:" + self.color + ":" + self.make + ":" + " Drag: " + str(self.drag)

car = Car("Red", "Toyota", "Corrola")
print(car)
car.do_drag(90)
print(car)

class CarSports(Car, Vehicle):
    fly = 0
    def do_fly(self, fly):
        self.fly = fly

    def __repr__(self):
        return "My car is:" + self.color + ":" + self.make + ":" + " Drag: " + str(self.drag) \
        + " Fly: " + str(self.fly)

carsports1 = CarSports("Red", "Toyota", "Corrola")
print(carsports1)
carsports1.do_fly(90)
print(carsports1)

My vehicle is:Red:Toyota:0
Red
Toyota
Corrola
My vehicle is:Red:Toyota:100
My vehicle is:Red:Toyota1:0
My vehicle is:Reds:Toyota2:0
My vehicle is:Redd:Toyota3:0
My vehicle is:Redd:Toyota4:0
My car is:Red:Toyota: Drag: 0
My car is:Red:Toyota: Drag: 90
My car is:Red:Toyota: Drag: 0 Fly: 0
My car is:Red:Toyota: Drag: 0 Fly: 90

In [4]:
[i*i*5 for i in range(9)]

[0, 5, 20, 45, 80, 125, 180, 245, 320]