In [1]:
val my_imx: Int = 10

var my_mutx: Int = 20

var myname: String = "hi"

my_imx = 10
my_mutx = 20
myname = hi

hi

In [2]:
var state: String = "New York"

state = New York

New York

In [3]:
var principal = 500
var interest_rate = 12
var years = 5
var interest = principal*interest_rate*years/100

principal = 500
interest_rate = 12
years = 5
interest = 300

300

In [4]:
object Hello {
   def main(args: Array[String]) {
      var str:String = "hello"
      println(str)
      str = "hello all"
      println(str)
      str.concat(" there")
      println(str)
      str = str.concat(" there")
      println(str)
   }
}

defined object Hello

In [5]:
Hello

$line34.$read$$iw$$iw$$iw$$iw$$iw$$iw$Hello$@66a85f74

In [6]:
object Demo {
   def main(args: Array[String]) {
      var floatVar = 10.123
      var intVar = 5000
      var stringVar = "Hello There"

      var fs = printf("The value of the float variable is " + "%f, while the value of the integer " + "variable is %d, and the string" + "is %s", floatVar, intVar, stringVar);

      println(fs)
   }
}

defined object Demo

In [7]:
val name = "John"
println(s"Hello $name")

Hello John

name = John

John

In [8]:
println(s"2 + 3 = ${2 + 3}")

2 + 3 = 5

In [9]:
val height = 1.7d
val name = "John"
println(f"$name%s is $height%2.2f meters tall")

John is 1.70 meters tall

height = 1.7
name = John

John

In [10]:
println(s"Result = \n a \n b")

Result =
 a
 b

In [11]:
println(raw"Result = \n a \n b")

Result = \n a \n b

In [12]:
Demo.main(Array())

The value of the float variable is 10.123000, while the value of the integer variable is 5000, and the stringis Hello There()

In [13]:
var str1:String = "one"
println("Length is " + str1.length());

Length is 3

str1 = one

one

In [14]:
var str1:String = "one"
var str2:String = str1.concat(" two")
println("Combined string is " + str2);

Combined string is one two

str1 = one
str2 = one two

one two

In [15]:
var str:String = "New York"
println("Char at 5th index is " + str.charAt(4));

Char at 5th index is Y

str = New York

New York

In [16]:
var str:String = "New York"
println("New string is " + str.replace("York","Shire"));

New string is New Shire

str = New York

New York

In [17]:
var str:String = "New York 1ab2c3"
println("New string is " + str.replaceAll("[0-9]","x"));

New string is New York xabxcx

str = New York 1ab2c3

New York 1ab2c3

In [18]:
var str:String = "New York"
// replace all w and k with z
println("New string is " + str.replaceAll("w|k","z"));

New string is Nez Yorz

str = New York

New York

In [19]:
var str:String = "New,York,Hello, There"
var strarray = new Array[String](3)
strarray = str.split(",")
println("New string is " + strarray(0));
println(strarray.deep.mkString("\n"))

New string is New
New
York
Hello
 There

str = New,York,Hello, There
strarray = Array(New, York, Hello, " There")
strarray = [Ljava.lang.String;@7643f9e9

[New, York, Hello,  There]

In [20]:
var str:String = "NewxYorkyHello, There"
var str1 = str.substring(4,9)
println("New string is " + str1)

New string is Yorky

str = NewxYorkyHello, There
str1 = Yorky

Yorky

In [21]:
object Purge{
    def purgeVowels(str:String ): String = {
        var str2 = str.replaceAll("[a|e|i|o|u|A|E|I|O|U]","")
        return str2
    }
}

defined object Purge

In [22]:
Purge.purgeVowels("New York")

Nw Yrk

In [23]:
object Hello {
   def main(args: Array[String]) {
      var a = 0;

      // for loop execution with a range
      println("Loop 1 - simple loop")
      for( a <- 1 to 5){
         println( "Value of a: " + a );
      }

      println("Loop 2 - loop with custom incremental value")
      for( a <- 1 to 10 by 2){
         println( "Value of a: " + a );
      }

      println("Loop 3 - loop in reverse, decreasing order")
      for( a <- 5 to 1 by -1){
         println( "Value of a: " + a );
      }

      println("Loop 4 - loop using until, one iteration less than simple loop")
      for( a <- 5 until 1 by -1){
         println( "Value of a: " + a );
      }

      println("Loop 5 - loop over collections")
      val myList = List(1,2,3,4,5);
      for( a <- myList ){
         println( "Value of a: " + a );
      }
   }
}

defined object Hello

In [24]:
Hello.main(Array())

Loop 1 - simple loop
Value of a: 1
Value of a: 2
Value of a: 3
Value of a: 4
Value of a: 5
Loop 2 - loop with custom incremental value
Value of a: 1
Value of a: 3
Value of a: 5
Value of a: 7
Value of a: 9
Loop 3 - loop in reverse, decreasing order
Value of a: 5
Value of a: 4
Value of a: 3
Value of a: 2
Value of a: 1
Loop 4 - loop using until, one iteration less than simple loop
Value of a: 5
Value of a: 4
Value of a: 3
Value of a: 2
Loop 5 - loop over collections
Value of a: 1
Value of a: 2
Value of a: 3
Value of a: 4
Value of a: 5

In [25]:
object Greet {
   def greet(x: Int): String={
        if (x >= 4 && x < 12){
            return("Good Morning");
        }
        else if (x >= 12 && x < 16){ 
            return("Good Afternoon");
        }
        else if (x >= 16 && x < 21){ 
            return("Good Evening");
        }
        else if (x >= 21 && x < 25){ 
            return("Good Night");   
        }
       else {return "Invalid Time";}
    }
}

defined object Greet

In [26]:
Greet.greet(23)

Good Night

In [27]:
class Student (nameOfStudent: String, sexOfStudent: Char, gradeOfStudent: Int, ageOfStudent :Int) {
   var name : String = nameOfStudent;
   var sex : Char = sexOfStudent;
   var grade : Int = gradeOfStudent;
   var age : Int = ageOfStudent;
}
var stu1 = new Student("John Doe", 'M', 15, 23 );

var name_stu = stu1.name
var sex_stu = stu1.sex
var grade_stu = stu1.grade
var age_stu = stu1.age

defined class Student
stu1 = Student@257c1e55
name_stu = John Doe
sex_stu = M
grade_stu = 15
age_stu = 23

23

In [28]:
import java.io._

class Student()
{
    var name:String="";
    var sex:Char='a';
    var grade:Int=0;
    var age:Int=0;
    
    def this(sname:String, ssex :Char, sgrade :Int, sage :Int)
    {
        this();
        this.name = sname;
        this.sex = ssex;
        this.grade = sgrade;
        this.age =sage;

    }

    def this(sname:String)
    {
        this();
        this.name = sname;

    }
    def this(sname:String, ssex:Char)
    {
        this();
        this.name = sname;
        this.sex = ssex;

    }
}

defined class Student

In [29]:
var stu = new Student("Dey");

stu = Student@5bd0d9b9

$line104.$read$$iw$$iw$Student@5bd0d9b9

In [30]:
var stu = new Student("Mack", 'F');

stu = Student@5096d4ea

$line104.$read$$iw$$iw$Student@5096d4ea

In [31]:
var stu = new Student("Doe", 'F', 8, 16);

stu = Student@a76abba

$line104.$read$$iw$$iw$Student@a76abba

In [32]:
var name_stu = stu.name
var sex_stu = stu.sex
var grade_stu = stu.grade
var age_stu = stu.age

name_stu = Doe
sex_stu = F
grade_stu = 8
age_stu = 16

16

In [40]:
object Calc {
    def calcSum(x:Int, y:Int): Int = {
        var a:Int = 0
        var sum: Int = 0
        for (a <- x to y) {
            sum += a
        }
        return sum
    }
}

defined object Calc

In [41]:
Calc.calcSum(5,8)

26

In [44]:
var strArray = Array("John","Doe","Jane","Sach")

strArray = Array(John, Doe, Jane, Sach)

[John, Doe, Jane, Sach]

In [46]:
import Array._

In [49]:
var numArray = range(10,21,2)

numArray = Array(10, 12, 14, 16, 18, 20)

[10, 12, 14, 16, 18, 20]

In [50]:
var strList = List("apple","banana","mango","orange","pears")

strList = List(apple, banana, mango, orange, pears)

List(apple, banana, mango, orange, pears)

In [51]:
var intSet = Set(2,4,17,19)

intSet = Set(2, 4, 17, 19)

Set(2, 4, 17, 19)

In [54]:
var charMap= Map('A'->1,'B'->2,'C'->3)

charMap = Map(A -> 1, B -> 2, C -> 3)

Map(A -> 1, B -> 2, C -> 3)

In [55]:
var myTuple = (5, "Hello", 100)

myTuple = (5,Hello,100)

(5,Hello,100)

In [56]:
val myIter = Iterator("I","am","going")

myIter = non-empty iterator

non-empty iterator

In [59]:
import java.io._

In [65]:
val writer = new PrintWriter(new File("New.txt"))
writer.write("Hello Scala")
writer.write("\n")
writer.write("Bye Scala")
writer.close()

writer = java.io.PrintWriter@7e0f6dd0

java.io.PrintWriter@7e0f6dd0

In [63]:
import scala.io.Source

In [66]:
Source.fromFile("New.txt").foreach{
    print
}

Hello Scala
Bye Scala